{{ define "main" }}
<div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-4">
  <div class="font-serif sm:text-2xl md:text-2xl lg:text-sm text-white">
    WHAT? </br>
    BABALAR PRESS is a Qazaq experimental research, writing and publishing initiative for relearning, reclaiming and reimagining our ancestral knowledge(s).
    Through zines, workshops and research fellowships, BABALAR PRESS creates informal & caring spaces for us to engage with, reinterpret & share the stories, knowledges and practices of our collective and personal babalar (qazaq for “ancestors”).
  </div>
  <div class="font-serif sm:text-2xl md:text-2xl lg:text-sm text-white">WHY? </br>
    We often say that our country is home to people of many different cultural and ethnic backgrounds. What is not voiced often enough is how many of us, in all our differences – as a result of colonial rule by russian empire and soviet union, with their politics of mass deportations, repressions, genocide and erasure of indigenous identities and peoples – bear the shared trauma of being cut off from the worlds, knowledges, languages and practices of our ancestors.
    At BABALAR PRESS, we believe that the task of healing these wounds is crucial to our individual and collective wellbeing, and we approach this task through active reconnection with our ancestral worlds. Through critical and creative research and personal meaning-making in dialogue with our ancestral knowledges, we hope to reclaim ownership over those knowledges, keep them useful and alive, remember who we were and are, and imagine who we want to be.
  </div>
  <div></div>
</div>
{{ end }}