{{ define "main" }}

<div class="px-12 h-screen">
    <div class="flex mx-auto mb-8 font-sans-serif lg:text-lg text-white rounded-full bg-red shadow-2xl shadow-red  h-fit">
        <div class="mx-auto">current</div></div>

    <div class="grid lg:grid-cols-4 sm:grid-cols-1 bg-white shadow-2xl shadow-white rounded-xl mb-8">

            <!--volume 1-->
            <div class="grid grid-cols-1 gap-2 p-4 mx-auto">
            <div class="h-fit max-w-md">
                <a href="../publications/volume1/">
                <img src="/img/1-Kiosk_opt.png"></a>
            </div>
            <div class="font-sans-serif font-semibold lg:text-base text-brown">Volume 1</div>
            <div class="font-sans-serif font-light lg:text-sm text-brown">156 бет</div>
            </div>

            <!--volume 2-->

    </div>


    <div class="flex mx-auto mb-4 font-sans-serif lg:text-lg text-white rounded-full bg-brown shadow-2xl shadow-brown h-fit">
        <div class="mx-auto">coming soon</div></div>
</div>

{{ end }}

