{{ define "main" }}


<img class="sm:w-screen md:w-screen lg:w-screen mx-auto z-0 object-cover absolute
    sm:top-40 lg:top-0 left-0 sm:max-h-[100%] md:max-h-[100%] lg:max-h-[100%]"
        src="/img/periwinkle-pattern_4.svg" />

<div class="relative z-10 px-12 sm:h-fit md:h-fit lg:h-fit sm:mt-10 md:mt-0 lg:mt-10">
    <div class="flex mx-auto sm:mb-3 lg:mb-0 sm:mt-4 lg:mt-0 font-sans-serif text-4xl lg:text-lg text-brown h-fit">
        <div class="mx-auto">current</div></div></div>

<div class="relative z-10 px-12 sm:h-fit md:h-fit lg:h-fit sm:mt-10 md:mt-0 lg:mt-0 mb-7">        

    <div class="grid lg:grid-cols-[max-content_1fr] sm:grid-cols-1 gap-x-2 rounded-xl">

            <!--volume 1-->
            <div class="grid grid-cols-1 gap-x-2 p-4 mx-auto">
            
            <div class="flex-col">
            <div class="max-h-[90%] md:max-w-[60%] lg:max-w-[60%]">
                <a href="../publications/volume1/">
                <img src="/img/1-Kiosk_opt.png" class="hover:bg-periwinkle hover:shadow-2xl hover:shadow-periwinkle hover:rounded-xl"></a>
            </div>
            
            </div></div>

            <!--volume 2-->
            
            <div class="flex-col">
                <div class="max-h-[90%] md:max-w-[60%] lg:max-w-[60%]">
            <div class="grid grid-cols-1 gap-2 p-4 mx-auto">
                    <a href="../publications/volume1/">
                    <img src="/img/they.jpeg"></a>
                </div>
                
                </div></div>

    </div></div>

    <div class="relative z-10 border-t-2 border-brown px-12 sm:h-fit md:h-fit lg:max-h-[100%] sm:mt-10 md:mt-0 lg:mt-0">
        <div class="flex mx-auto sm:mb-3 lg:mb-0 sm:mt-4 lg:mt-0 font-sans-serif text-4xl lg:text-lg text-brown h-fit">
            <div class="mx-auto">coming soon</div></div></div>


            <div class="relative z-10 px-12 sm:h-fit md:h-fit lg:h-fit sm:mt-10 md:mt-0 lg:mt-0">        

                <div class="grid lg:grid-cols-4 sm:grid-cols-1 gap-x-4 rounded-xl">
            
                        <!--volume 1-->
                        <div class="grid grid-cols-1 gap-2 p-4 mx-auto">
                        <div class="h-fit md:max-w-[100%] lg:max-w-[100%]">
                            <a href="../publications/volume1/">
                            <img src="/img/1-Kiosk_opt.png" class="hover:bg-periwinkle hover:shadow-2xl hover:shadow-periwinkle hover:rounded-xl"></a>
                        </div>
                        
                        </div>
            
                        <!--volume 2-->
            
                        <div class="grid grid-cols-1 gap-2 p-4 mx-auto">
                            <div class="h-fit md:max-w-[100%] lg:max-w-[100%]">
                                <a href="../publications/volume1/">
                                <img src="/img/they.jpeg"></a>
                            </div>
                            
                            </div>
            
                </div></div>


{{ end }}

