{{ define "main" }}


<img class="sm:w-screen md:w-screen lg:w-screen mx-auto z-0 object-cover absolute
    sm:top-40 lg:top-0 left-0 sm:max-h-[100%] md:max-h-[100%] lg:max-h-[100%]"
        src="/img/periwinkle-pattern_4.svg" />

<div class="relative z-10 px-12 sm:h-fit md:h-fit lg:h-fit sm:mt-10 md:mt-0 lg:mt-10">
    <div class="flex mx-auto sm:mb-3 lg:mb-0 sm:mt-4 lg:mt-0 font-sans-serif text-4xl lg:text-lg text-brown h-fit">
        <span class="mx-auto bg-lemon-yellow shadow-2xl shadow-lemon-yellow rounded-full">current</span></div></div>

<div class="relative z-10 px-12  mt-10 mb-24">        

    <div class="grid lg:grid-cols-4 sm:grid-cols-1 gap-x-2 gap-y-24 lg:gap-y-5">

            <!--volume 1-->

            
            <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                <a href="../publications/volume1/">
                <img src="/img/1-Kiosk_opt.png" 
                class="hover:bg-red hover:shadow-2xl hover:shadow-red hover:rounded-xl"></a>
            </div>
            
            

            <!--volume 2-->
            
            <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                    <a href="../publications/volume1/">
                    <img src="/img/dcit_slip-cover-front-flat_1680x2200.png"
                    class="hover:bg-red hover:shadow-2xl hover:shadow-red hover:rounded-xl"></a>

                </div>

             <!--volume 3-->

             <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                <a href="../publications/volume1/">
                <img src="/img/cover2.png"
                class="hover:bg-red hover:shadow-2xl hover:shadow-red hover:rounded-xl"></a>

            </div>

            <!--volume 4-->

            <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                <a href="../publications/volume1/">
                <img src="/img/6731750107_c1863542b8_h.jpg"
                class="hover:bg-red hover:shadow-2xl hover:shadow-red hover:rounded-xl"></a>

            </div>
        
        </div></div>
        

   

    <div class="relative z-10 border-t-2 border-brown px-12 sm:h-fit md:h-fit lg:max-h-[100%] sm:mt-10 md:mt-0 lg:mt-0">
        <div class="flex mx-auto sm:mb-3 lg:mb-0 sm:mt-4 lg:mt-0 font-sans-serif text-4xl lg:text-lg text-brown h-fit">
            <span class="mx-auto mt-10 text-periwinkle bg-brown shadow-2xl shadow-brown rounded-full">coming soon</span></div></div>


            <div class="relative z-10 px-12 mt-10 mb-24">        

                <div class="grid lg:grid-cols-4 sm:grid-cols-1 gap-x-2 gap-y-24 lg:gap-y-5">
            
                        <!--volume 5-->
                        <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                            <a href="../publications/volume1/">
                            <img src="/img/1-Kiosk_opt.png" 
                            class="hover:brown hover:shadow-2xl hover:shadow-brown hover:rounded-xl"></a>
                        </div>
                        

            
                        <!--volume 6-->
            
                        <div class="mx-auto lg:max-h-sm lg:max-w-[15rem]">

                                <a href="../publications/volume1/">
                                <img src="/img/1-Kiosk_opt.png"
                                class="hover:brown hover:shadow-2xl hover:shadow-brown hover:rounded-xl"></a>
                            </div>
                            

            
                </div></div>


{{ end }}

