{{ define "main" }}



<div class="px-12 sm:h-fit md:h-fit lg:h-screen sm:mt-10 md:mt-0 lg:mt-10">
    

<div class="grid lg:grid-cols-[max-content_1fr] sm:grid-cols-1 gap-x-6">
    
    <div class="flex-col w-fit">

            <!--volume 1-->
            <div class="max-w-sm">
                <img src="/img/1-Kiosk_opt.png" class="hover:bg-periwinkle hover:shadow-2xl hover:shadow-periwinkle hover:rounded-xl
                mx-auto object-cover">
            </div></div>
            
    <div class="flex-col w-fit">
            <div class="border-b-2 border-brown  lg:mb-0 sm:mt-4 lg:mt-0
            font-sans-serif text-4xl lg:text-lg text-brown h-fit max-w-[100%]">
                Volume 1</div>
            <div class="font-sans-serif text-4xl lg:text-lg text-brown mt-10 max-w-[100%]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Praesent imperdiet quam a sem iaculis, a vulputate nulla blandit. 
                Pellentesque habitant morbi tristique senectus et netus et malesuada 
                fames ac turpis egestas. Donec commodo odio felis, et varius dui blandit ut. 
                In eget felis commodo, ullamcorper ipsum et, bibendum magna. 
                ulla eu augue a eros semper egestas. Morbi auctor ac neque vel laoreet.
                 Donec id dapibus velit, ut laoreet nisl. Duis elementum mattis diam. Nam pulvinar, 
                 lectus vitae maximus luctus, felis libero sollicitudin eros, volutpat laoreet libero dui in ligula. 
                 Suspendisse pulvinar velit a ultricies molestie. Nam sagittis pharetra sapien.</div>

            <div class="w-fit font-sans-serif font-semibold lg:text-base md:text-3xl text-brown">paperback</div>
            <div class="w-fit font-sans-serif font-light lg:text-sm md:text-2xl text-brown">156 pages</div>
               
                 
            <div class="mt-10 font-sans-serif text-4xl lg:text-lg text-brown h-fit w-fit
            bg-periwinkle shadow-2xl shadow-periwinkle rounded-full">buy</div>

            <div class="mt-10 font-sans-serif text-4xl lg:text-lg text-brown h-fit w-fit
            bg-periwinkle shadow-2xl shadow-periwinkle rounded-full">download pdf</div>
            
            </div>

            

        </div>
            
{{ end }}