

<div class="lg:grid lg:grid-cols-2 sm:grid sm:grid-cols-2">
<div class="lg:flex lg:place-content-start lg:gap-8 lg:mt-2 sm:grid-cols-1 sm:gap-10 sm:mt-4">
  {{ $currentPage := . }}
    {{ $menu := .Site.Menus.main}}
    {{range $index, $element := $menu}}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $currentPage.Title) }}
        <div class="menu-item-{{ .Name }} {{ if $active }}active{{ end }} font-sans-serif
        lg:text-lg lg:w-fit sm:w-fit lg:h-fit sm:h-fit sm:text-6xl md:rounded-full sm:rounded-full text-brown 
        hover:shadow-2xl hover:shadow-red bg-white shadow-2xl shadow-white lg:rounded-xl
        hover:bg-red hover:text-periwinkle hover:lg:rounded-xl hover:sm:rounded-full hover:md:rounded-full">
          <a  href="{{ .URL | relLangURL }}">{{ .Pre }}{{i18n .Identifier | default .Name }}</a>
      </div>

    {{end}}
  </div>

  <div class="lg:flex lg:place-content-end lg:gap-6 lg:mt-2 sm:flex sm:place-content-end sm:gap-6 sm:mt-4">

    {{ range $.Site.Home.AllTranslations }}
      {{ if ne $.Site.Language.Lang .Language.Lang }}
        {{ $translation := index (where $.Page.Translations "Language.Lang" .Language.Lang) 0 }}
        {{ $no_translation := index (where ($.Site.GetPage "/no-translation.md").Translations "Language.Lang" .Language.Lang) 0 }}

          <a class="language-switch lg:w-fit sm:w-fit lg:h-fit sm:h-fit bg-white shadow-2xl shadow-white lg:rounded-xl hover:bg-red hover:shadow-2xl hover:shadow-red hover:text-periwinkle hover:lg:rounded-xl hover:sm:rounded-full hover:md:rounded-full text-brown font-sans-serif lg:text-lg md:text-6xl sm:text-6xl md:rounded-full sm:rounded-full" href="{{ default $no_translation.Permalink $translation.Permalink }}">
            {{ .Language.LanguageName }}
          </a>

      {{ end }}
    
    {{ end }}

  </div>

</div>
