

<div class="grid grid-cols-2">
<div class="flex place-content-start gap-8 mt-2">
  {{ $currentPage := . }}
    {{ $menu := .Site.Menus.main}}
    {{range $index, $element := $menu}}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $currentPage.Title) }}
        <div class="menu-item-{{ .Name }} {{ if $active }}active{{ end }} font-sans-serif text-lg text-brown hover:shadow-2xl hover:shadow-red bg-white shadow-2xl shadow-white rounded-xl hover:bg-red hover:text-periwinkle hover:rounded-xl">
          <a  href="{{ .URL | relLangURL }}">{{ .Pre }}{{i18n .Identifier | default .Name }}</a>
      </div>

    {{end}}
  </div>

  <div class="flex place-content-end gap-6 mt-2">

    {{ range $.Site.Home.AllTranslations }}
      {{ if ne $.Site.Language.Lang .Language.Lang }}
        {{ $translation := index (where $.Page.Translations "Language.Lang" .Language.Lang) 0 }}
        {{ $no_translation := index (where ($.Site.GetPage "/no-translation.md").Translations "Language.Lang" .Language.Lang) 0 }}

          <a class="language-switch bg-white shadow-2xl shadow-white rounded-xl hover:bg-red hover:shadow-2xl hover:shadow-red hover:text-periwinkle hover:rounded-xl text-brown font-sans-serif text-lg" href="{{ default $no_translation.Permalink $translation.Permalink }}">
            {{ .Language.LanguageName }}
          </a>

      {{ end }}
    
    {{ end }}

  </div>

</div>
