  
<div class="grid grid-cols-1 grid-rows-3 w-full h-fit px-10 mt-0">

<div><img src="{{ `img/white-wool.png` | relLangURL }}" 
    class="h-64 w-full mx-auto object-cover object-center 
    [clip-path:xywh(30_30px_80%_80%_round_50%_50%)] mask-shape-ellipse mask-radial
    "/>

  <img src="{{ `img/Horses_in_Kazakhstan.jpg` | relLangURL }}" 
        class="h-96 w-full float-center object-cover object-center 
        [clip-path:xywh(90_90px_80%_80%_round_80%_80%)] mask-shape-ellipse mask-radial
        "/></div>

<div class="bg-lilac h-20 w-full mx-auto
[clip-path:xywh(90_90px_80%_80%_round_80%_80%)] mask-shape-ellipse mask-radial"></div>


</div>


