  <div class="absolute flex float-left"><p class="font-serif sm:text-4xl md:text-4xl lg:text-sm max-w-sm text-brown">
  BABALAR PRESS is a Qazaq experimental research, writing and publishing initiative for
  relearning, reclaiming and reimagining our ancestral knowledge(s).</p></div>

  <img src="{{ `img/Horses_in_Kazakhstan.jpg` | relLangURL }}" 
  class="absolute w-full h-fit float-center object-cover object-center 
  [clip-path:xywh(90_90px_80%_80%_round_80%_80%)] mask-shape-ellipse mask-radial
  "/>

  <img src="{{ `img/white-wool.png` | relLangURL }}" 
  class="absolute flex w-96 h-96 place-content-center object-cover object-center 
  [clip-path:xywh(30_30px_80%_80%_round_50%_50%)] mask-reach-[50%_50%] mask-radial
  "/>

  <div class="absolute"><div class="bg-periwinkle [clip-path:circle(40%)]"></div></div>
