

<div class="h-screen z-10 absolute">
    <img src="/img/Horses_in_Kazakhstan.jpg" class="w-full left-0 right-0 top-10 bottom-0 mx-auto fixed  
  [clip-path:xywh(10_10px_100%_100%_round_20%_20%)] mask-shape-ellipse mask-radial"/>
</div>

<div class="absolute h-fit z-10">
  <div class="top-20 left-0 bottom-0 mx-auto fixed right-0 w-80 overflow-hidden">
  {{ readFile "assets/images/bplogo_extended_red.svg" | safeHTML }}
  </div>
</div>

<div class="h-screen z-0 absolute">
  <img src="/img/periwinkle-pattern.svg" class="w-full mx-auto top-10 left-0 right-0 bottom-0 fixed overflow-hidden"/>
</div>




