
<nav class="flex gap-4 my-2">
{{ range $.Site.Home.AllTranslations }}
  {{ if ne $.Site.Language.Lang .Language.Lang }}
    {{ $translation := index (where $.Page.Translations "Language.Lang" .Language.Lang) 0 }}
    {{ $no_translation := index (where ($.Site.GetPage "/no-translation.md").Translations "Language.Lang" .Language.Lang) 0 }}
    <div class="bg-white rounded-full font-serif text-base shadow-lg shadow-white">
      <a class="language-switch" href="{{ default $no_translation.Permalink $translation.Permalink }}">
        {{ .Language.LanguageName }}
      </a>
    </div>
  {{ end }}

{{ end }}
</ul>

