{{ define "main" }}



<img class="w-screen mx-auto z-0 object-cover absolute top-0 left-0 max-h-[100%]"
    src="/img/periwinkle-pattern_4.svg" />

<div class="flex">
      <img src="/img/Horses_in_Kazakhstan.jpg" class="absolute z-0 mx-auto object-cover
      w-auto max-h-[60%]
      left-0 right-0 sm:top-48 md:top-48 lg:top-0 xl:top-0 
      bottom-0
      mask-shape-ellipse mask-radial"/>
    
 

  <div class="mx-auto relative
  sm:h-auto md:h-auto lg:max-h-[90%] xl:max-h-[90%]
  mb-20
  sm:top-0 md:top-0 lg:top-0 xl:top-0 left-0 right-0 bottom-0
  sm:w-[60%] md:w-[60%] lg:w-[30%] xl:w-[30%]">
  {{ readFile "assets/images/bplogo_extended_red.svg" | safeHTML }}
  </div></div>




<div class="lg:mt-60 xl:mt-60 z-0 relative px-12 mx-auto">
  <div class="grid grid-cols-[max-content_1fr] gap-x-4">
    <div class="flex-shrink-0">
      <div class="p-0 font-sans-serif text-2xl w-fit text-brown">Contributors</div>
      <div class="p-0 font-sans-serif text-2xl w-fit text-brown">Aida Aida</div>
    </div>
    <div class="p-0 font-sans-serif text-4xl w-fit leading-[3rem] text-brown">
      BABALAR PRESS is a Qazaq experimental research, writing and publishing initiative for relearning,
      reclaiming and reimagining our ancestral knowledge(s).
      Through zines, workshops and research fellowships, BABALAR PRESS creates informal & 
      caring spaces for us to engage with, reinterpret & share the stories, knowledges
      and practices of our collective and personal babalar (qazaq for “ancestors”).</div>
    </div>
  </div>

<div class="z-0 relative px-12 mx-auto">
  <div class="grid grid-cols-[max-content_1fr] gap-x-4">
    <div class="flex-shrink-0">
      <div class="p-0 font-sans-serif text-2xl w-fit text-brown">Pattern: Ayym Zhaishylyk</div>
      <div class="p-0 font-sans-serif text-2xl w-fit text-brown">Design: Haider Mukhit</div>
      <div class="p-0 font-sans-serif text-2xl w-fit text-brown">© copyright Babalar Press</div>

    </div>
    <div class="p-0 font-sans-serif text-4xl w-fit leading-[3rem] text-brown">
      For any relevant suggestions, questions or information you can write to
        us via email at info@babalarpress or through our Instagram profile @babalarpress</div>
    </div>
  </div>








{{ end }}