{{ define "main" }}


<div class="relative h-fit">


  <div class="z-10">
    <img src="/img/Horses_in_Kazakhstan.jpg" class="relative sm:object-cover md:object-cover lg:object-cover xl:object-cover mx-auto
    sm:h-[100%] md:h-[100%] lg:h-[90%] xl:h-[90%]
    sm:w-full md:w-full lg:w-[80%] xl:w-[80%]
    left-0 right-0 sm:top-0 md:top-0 lg:top-20 xl:top-20
    bottom-0 md:bottom-0 lg:bottom-20 xl:bottom-20  
    sm:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
    md:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
    lg:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
    xl:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
    mask-shape-ellipse mask-radial"/>
  
  </div>
<!--<div class="z-30">
  <img src="/img/periwinkle-pattern_4-landscape.svg" class="absolute object-cover mx-auto
    sm:max-w-full md:max-w-full lg:max-w-[100%] xl:max-w-[100%]
    sm:max-h-fit md:max-h-fit lg:max-h-[100%] xl:max-h-[100%]
    top-0 bottom-0 left-0 right-0"/></div>-->

<div class="z-0">
  <img src="/img/white_wool_3.jpeg" class="absolute object-cover mx-auto
  sm:h-[100%] md:h-[100%] lg:max-h-[90%] xl:max-h-[90%]
  sm:w-full md:w-full lg:max-w-[80%] xl:max-w-[80%]
  left-0 right-0 top-0 bottom-0 
  sm:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
  md:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
  lg:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
  xl:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)];
  mask-shape-ellipse mask-radial"/></div>

<div class="z-20">
  <div class="absolute mx-auto
  sm:h-fit md:h-fit lg:h-full xl:h-full
  sm:top-0 md:top-0 lg:top-20 xl:top-20 left-0 right-0 bottom-0
  sm:w-[70%] md:w-[70%] lg:w-[30%] xl:w-[30%]">
  {{ readFile "assets/images/bplogo_extended_red.svg" | safeHTML }}
  </div></div>


</div>




    <div class="grid grid-cols-[max-content_1fr] gap-8 h-fit">
    <div class="p-0 font-sans-serif text-2xl">Aida Aida</div>
    <div class="p-0 font-sans-serif text-5xl w-full leading-[3.5rem]">
      BABALAR PRESS – бұл бабаларымыздан қалған білімді зерттеп, түсіну және (қайта) қарауға
      бағытталған қазақ эксперименттік зерттеу, жазу және басылым бастамасы. 
    Зин, воркшоп және зерттеу гранттары арқылы, BABALAR PRESS бейресми және қамқор кеңістік кұрады. 
    Бұл кеңістікте біз бабаларымыздан қалған ілімді танып, оған жаңа көзқараспен қарап, бәрімізге ортақ және
    жеке әңгіме, білім және тәжірибелерімізді еркін бөлісе аламыз.</div>
    </div>


  





{{ end }}