{{ define "main" }}

<div class="h-screen">

<!--<div class="h-fit z-10 absolute">
    <img src="/img/Horses_in_Kazakhstan.jpg" class="w-[80%] left-0 right-0 lg:top-10 sm:top-60 md:top-60 bottom-10 mx-auto fixed  
  lg:[clip-path:xywh(10_10px_100%_100%_round_20%_20%)] md:[clip-path:xywh(10_10px_100%_80%_round_20%_20%)] mask-shape-ellipse mask-radial"/>
</div>

<div class="absolute h-fit z-10">
  <div class="lg:top-40 sm:top-60 md:top-60 left-0 bottom-0 mx-auto fixed right-0 lg:w-80 sm:w-64 md:w-64 overflow-hidden">
  {{ readFile "assets/images/bplogo_extended_red.svg" | safeHTML }}
  </div>
</div>

<div class="lg:h-fit sm:h-[50%] md:h-[50%] z-0 absolute">
  <img src="/img/periwinkle-pattern.svg" class="w-full mx-auto lg:top-10 sm:top-40 md:top-40 left-0 right-0 lg:bottom-0 sm:bottom-40 md:bottom-40 fixed overflow-hidden"/>
</div>
</div>!-->

{{ end }}