{{ define "main" }}



  <img class="w-auto mx-auto z-0 object-cover absolute top-0 left-0"
    src="/img/periwinkle-pattern_4.svg" />

  <div class="mx-auto relative
  sm:h-fit md:h-fit lg:max-h-[90%] xl:max-h-[90%]
  mb-20
  sm:top-0 md:top-0 lg:top-0 xl:top-0 left-0 right-0 bottom-0
  sm:w-[70%] md:w-[70%] lg:w-[30%] xl:w-[30%]">
  {{ readFile "assets/images/bplogo_extended_red.svg" | safeHTML }}
  </div>




<div class="z-0 relative px-12 mx-auto">
    <div class="p-0 font-sans-serif text-4xl w-fit leading-[3rem] text-brown">
      BABALAR PRESS is a Qazaq experimental research, writing and publishing initiative for relearning,
      reclaiming and reimagining our ancestral knowledge(s).
      Through zines, workshops and research fellowships, BABALAR PRESS creates informal & 
      caring spaces for us to engage with, reinterpret & share the stories, knowledges
      and practices of our collective and personal babalar (qazaq for “ancestors”).</div>
    </div>


<div class="z-10">
  <img src="/img/Horses_in_Kazakhstan.jpg" class="relative mx-auto
  sm:h-[100%] md:h-[100%] lg:h-[60%] xl:h-[60%]
  sm:w-full md:w-full lg:w-[60%] xl:w-[60%]
  left-0 right-0 top-0
  bottom-0
  mask-shape-ellipse mask-radial"/>

</div>

<div class="h-fit w-auto z-0 relative mx-auto rounded-xl px-12 p-4">
  <div class="flex">

  <div class="p-0 font-sans-serif text-2xl w-fit text-brown">
      Pattern: Ayym Zhaishylyk
      Design: Haider Mukhit
      © copyright Babalar Press
  </div>

  <div class="p-0 font-sans-serif text-4xl w-fit leading-[3rem] text-brown">
        For any relevant suggestions, questions or information you can write to
        us via email at info@babalarpress or through our Instagram profile @babalarpress
    </div>
  
  </div>

</div>







{{ end }}